#gameMode-section{
    text-align: center;
    padding-bottom: 5em;
    
}

#mode-hero{
    display: flex;
    align-items: center;
    padding-right: .5em;
    padding-left: .5em;
    justify-content: center;
    gap: 2em;
}

#mode-logo{
    width: 5em;
    height: 5em;
}

#mode-banner{
    width: 100%;
}

#description{
    padding-right: 1em;
    padding-left: 1em;
}
