#mode-pic{
    width: 6em;
    height: 6em;
}

#mode-page{
    text-align: center;
    background-color: blue;
}

#mode-section{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    
}