#navbar{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2em;
    background-color: yellow;
    margin: 0;
    flex-wrap: wrap;
    padding: 1em;
}

#navbar-page{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#hero{
    width: 100%;
    
    
}


#brawl{
    color: white;
    text-shadow: 2px 2px 0px black, -2px -2px 0px black;
}

#stars{
    color: red;
    text-shadow: 2px 2px 0px black, -2px -2px 0px black;
}

@media screen and (min-width: 600px){
    #hero{
        height: 37em;
    }
    
}

#logo{
    width: 1em;
    height: 1em;
    margin-top: .2em;
    border-radius: 30%;
}

#title{
    margin: 0;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .15em;
}